<form (radio)="chooseMethod($choice)">
<h1>Please select the analyze method</h1>
<label class="container">Predictive
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>
</label>
<label class="container">Prescriptive
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
<label class="container">Descriptive
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
<label class="container">Exploratory
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
</form>
